*{
    margin: 0;
    padding: 0;
}
.card{
    width: 150px;
    height: 150px;
    border-radius: 12%;
    background-color: cadetblue;
    text-align: center;
    font-size: 12px;
    justify-content: center;
    display: inline-flexbox;
    filter: drop-shadow(10px 6px 0px #000000);
    padding: 12px 12px 12px 12px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
}